.my-btn{
    margin-top: 6px;
    margin-right: 10px;
}

.my-btn i{
    margin-left: -5px !important;
    margin-right: 5px !important;
}

.form-data{
    margin: 20px 40px;
}

.my_error{
    width: 250px !important;
    margin: 10px 0px 0px 15px;
    text-align: left !important;
}

.hideinit{
    display: none;
}

.alert{
    font-size: 1.0em;
    padding: 1em;
    text-align:center;
    width:auto;
    word-wrap:normal;
}